*{
    border: 0;
    padding: 0;
    margin: 0;
    cursor:pointer;
}
.cover{
    position: fixed;
    background: rgba(0,0,0,0.5);
    width:100%;
    height: 100%;
    top:0;;
    left:0;
    z-index: 100;
    display: none;
}
h1{
    text-align: center;
}
.cover svg{
    position: absolute;
    top:50%;
    width:50px;
    height: 50px;
    margin-top:-25px;
    left:50%;
    margin-left:-25px;
}
.parallax {
  /* The image used */
  background-image: url('../media/money.jpg');
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
    background-repeat: no-repeat;
  background-size: cover; 
  /**/  
}
/* Centered text */
.centered {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#title {
    text-align: center;   
}

/*Web Site Titel*/
.img_titel{
    position:absolute;
    top:30%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:1.5em;
    letter-spacing:5px;
    text-transform:uppercase; 
}
.img_titel .border{
    background-color:rgb(20, 19, 19);
    color:#fff;
    padding:20px;
}
.img_titel  .border.trans{
    background-color:transparent;
}
/**/

.section{
padding:1px 20px;
}

.hide{
    display: none;
}
.show{
    display: block;
}
#wrepper_navigation{
  padding: 25px;
}
#search{
  margin: 0;
  padding: 0;
}
/*Slider Input*/
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
   
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
#coin_img{
  width: 150px;
}

/**/
.modal{
  /*width: 600px;*/
  top: 10px;
  left: 50%;
  right: -50%;
  display: flex;
  align-items: center;
  
}

.mrow{
margin-right: 0;
margin-left: 0 ;

}
.switchlabel{
  position: relative;
  top: 0;
  font-size: 18px;
  margin-left: 150px;
}

/*slider in modal */

/*
.m-slider {
  border: none;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 125px;
}

.m-slider-checkbox {
  display: none;
}

.m-slider-label {
  border: 2px solid #666;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  overflow: hidden;
}

.m-slider-inner {
  display: block;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
  width: 200%;
}

.m-slider-inner:before,
.m-slider-inner:after {
  box-sizing: border-box;
  display: block;
  float: left;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  padding: 0;
  width: 50%;
}

.m-slider-inner:before {
  background-color: #2196F3;
  color: #fff;
  content: "";
  padding-left: .75em;
}

.m-slider-inner:after {
  background-color: #eee;
  color: #666;
  content: "Delete";
  padding-right: .75em;
  text-align: right;
}

.m-slider-circle {
  background-color: #2196F3;
  border: 2px solid #666;
  border-radius: 20px;
  bottom: 0;
  display: block;
  margin: 5px;
  position: absolute;
  right: 91px;
  top: 0;
  transition: all 0.3s ease-in 0s; 
  width: 20px;
}

.m-slider-checkbox:checked + .m-slider-label .m-slider-inner {
  margin-left: 0;
}

.m-slider-checkbox:checked + .m-slider-label .m-slider-circle {
  background-color: #eee;
  right: 0; 
}
*/